@model DogViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Hello from the Hello View!</h2>
<p>you've arrived here through some different request...</p>

<h5>@Model.Name says hello</h5>
<h6>@Model.Age .., poor old doggo</h6>