@model List<DogViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello from the Index page!</h1>
<p> It's nice of you to drop by! ^^</p>
<ul>
@foreach(var dog in Model)
{
    <li>@dog.Name (@dog.Age)</li>
}
</ul>
